/* Header */
.nav-header {
	position: relative;
	left: -15px;
}
/* Breadcumb area */
.breadcumb_area .container .row .col-12	{
	padding: 0 15px;
}
@media (max-width: 1199.98px) {
	/* Header */
	.nav-menu {
		float: left;
		position: relative;
		left: -15px;
	}
	/* Single area */
	.landing_one_version .about_single_part_area .about_text {
		width: 100%;
	}
	.landing_one_version .about_single_part_area .about_text ul,
	.landing_one_version .about_single_part_area .about_text ol,
	.landing_one_version .about_single_part_area .about_text p {
		font-size: 14px;
	}
}
@media (max-width: 991.98px) and (min-width: 768px) {
	/* Header */
	.header_area .container {
		width: 100%;
	}
	.nav-header {
		position: relative;
		left: -10px;
	}
	.nav-menu > li > a {
		padding: 26px 9px;
		font-size: 13px;
	}
	/* Breadcumb area */
	.submenu-indicator-chevron {
		height: 5px;
		width: 5px;
	}
	.page_title > h4 {
		font-size: 1.3rem;
	}
	/* Single area */
	.whatwedo.landing_one_version .about_single_part_area .about_text ul,
	.whatwedo.landing_one_version .about_single_part_area .about_text ol,
	.whatwedo.landing_one_version .about_single_part_area .about_text p {
		font-size: 12px;
	}
	.pricing_model.landing_one_version .about_single_part_area .about_text ul,
	.pricing_model.landing_one_version .about_single_part_area .about_text ol,
	.pricing_model.landing_one_version .about_single_part_area .about_text p {
		font-size: 15px !important;
	}
	.whatwedo.landing_one_version .about_single_part_area.even .about_text ul,
	.pricing_model.landing_one_version .about_single_part_area.even .about_text ul {
		font-size: 11px;
	}
	.whatwedo.landing_one_version .about_single_part_area .about_us_content h3 {
		font-size: 15px;
		margin-bottom: 5px;
	}
	.pricing_model.landing_one_version .about_single_part_area .about_us_content h3 {
		font-size: 20px;
		margin-bottom: 5px;
	}
}
@media (max-width: 991.98px) {
	/* Header */
	.nav-menu {
		left: 0;
	}
}
@media (max-width: 767.98px) {
	/* Header */
	.nav-header {
		position: static;
	}
	.header_area .container {
		padding: 6px 5px;
		width: 100%;
	}
	.nav-toggle {
		width: 60px;
		height: 60px;
		top: -6px;
		right: -5px;
		margin-top: 0;
		padding: 21px 0 0 0;
	}
	.nav-toggle:before {
		right: 0;
		left: 0;
		margin: auto;
	}
	/* Breadcumb area */
	.breadcumb_area .container {
	    width: 100%;
		padding: 0 20px;
	}
	.page_title > h4 {
		font-size: 18px;
	}
	/* About area */
	.section_padding_100_70 {
		padding: 40px 0 50px;
	}
	.section_padding_100_70 .container {
		width: 100%;
		padding: 0 20px;
	}
	.whatwedo.landing_one_version .about_single_part_area .about_us_content,
	.whatwedo.landing_one_version .about_single_part_area .about_thumb,
	.pricing_model.landing_one_version .about_single_part_area .about_us_content,
	.pricing_model.landing_one_version .about_single_part_area .about_thumb {
		float: none;
		width: 100%;
		height: auto !important;
	}
	.whatwedo.landing_one_version .about_single_part_area .about_us_content .table,
	.pricing_model.landing_one_version .about_single_part_area .about_us_content .table {
		display: block;
		position: static;
	}
	.whatwedo.landing_one_version .about_single_part_area .about_text,
	.pricing_model.landing_one_version .about_single_part_area .about_text {
		padding: 30px 20px;
	}
	.pricing_model.landing_one_version .about_single_part_area .about_text p {
    	font-size: 16px !important;
	}
	.whatwedo.landing_one_version .about_single_part_area.even,
	.pricing_model.landing_one_version .about_single_part_area.even {
		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: reverse;
		-webkit-flex-direction: column-reverse;
		-moz-box-orient: vertical;
		-moz-box-direction: reverse;
		-ms-flex-direction: column-reverse;
		flex-direction: column-reverse;
	}
	/* Footer */
	.footer_area .container {
	}
	.foo_top_header_one {
		padding-bottom: 10px;
	}
	.foo_bottom_header_one {
		padding: 0 0 30px;
	}
	/* Pricing */
	.pricing_model {
		padding: 40px 0 0;
	}
	.pricing_model .section-title h3.large {
		font-size: 30px;
		margin: 0;
	}
}
@media (max-width: 575.98px) {
}